.logo {
  margin-right: 95px;
  padding-top: 25px;
  padding-bottom: 25px;

  color: $black;

  font-family: 'Raleway', sans-serif;
  font-weight: $main-title;
  font-size: 26px;
  line-height: 1.19;

  &__dark {
    color: $black;
  }

  &__decor {
    color: var(--accent-primary);
  }

  &__light {
    color: $white;
  }
}

// mobile
@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    margin-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 24px;
    line-height: 1.17;
  }
}
