.logo {
  color: $black;

  font-family: 'Raleway', sans-serif;
  font-weight: $main-title;
  font-size: 26px;
  line-height: 1.19;

  padding-top: 16px;
  padding-bottom: 16px;

  &__dark {
    color: $black;
  }

  &__decor {
    color: var(--accent-primary);
  }

  &__light {
    color: $white;
  }
}

// mobile
@media screen and (min-width: 480px) {
  .logo {
    margin-right: 88px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .footer__address .logo {
    margin-right: 0px;
  }
}

// tablet
@media screen and (min-width: 768px) {
}
